extends layout
block content 
  div(id="menu")
    h1= title
    p
      |Navigation: arrows
      br
      |Author: Jeremy
      br
      |University Of Macau
      br
      |cjuhong@gmail.com
    button(id="enter_button") Enter