extends layout
block content 
  div(id="boothDiv")
  div(id="manage")
  div(id="interacts")
  div(id="navigation")
  div(id="talk")
block scripts
  script(data-main='javascripts/boot', type='text/javascript',src='/javascripts/libs/require.js')
