extends layout
block content
  script(src='/javascripts/three.min.js')
  script(src='/javascripts/FirstPersonControls.js')
  script(src='/javascripts/ve.js')
  script(src='/javascripts/ve.utils.js')
  script(src='/javascripts/ve.hall.js')
  script(src='/javascripts/ve.booth.js')
  script(src='/javascripts/stats.min.js')
  script(src='/javascripts/cufon-yui.js')
  script(src='/javascripts/Blox_400.font.js')

  div(id="menu")
    h1= title
    p
      |Movement: arrows
      br
      |Author: Jeremy
      br
      |University Of Macau
      br
      |cjuhong@gmail.com
    button(id="enter_button") Enter
  div#size
    |row:
    br
    input(id='row', type="number", name='row', max="10", min="1")
    br
    |column:
    br
    input(id='column', type='number', name='column', max="10", min="1")
    br
    button(id='ok') OK
  div#points 0
  script.
    Cufon.replace('#menu h1');
    Cufon.replace('#points');