extends layout

block content
  script(src='/javascripts/three.min.js')
  script(src='/javascripts/stats.min.js')
  script(src='/javascripts/cufon-yui.js')
  script(src='/javascripts/Blox_400.font.js')
  script(src='/javascripts/ve.js')
  script(src='/javascripts/ve.utils.js')
  script(src='/javascripts/ve.hall.js')
  div(id="menu")
    h1= title
    p
      |Movement: arrows
      br
      |Author: Jeremy
      br
      |University Of Macau
    button(id="enter_button") Enter
  div#points 0
  script.
    Cufon.replace('#menu h1');
    Cufon.replace('#points');