doctype 5
html
  head
    title Virtual Exhibition
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/horizontal.css')
  body
    block content
    block scripts
    
