body {margin: 0; padding: 0; overflow: hidden;}

#interacts {
    position: absolute;
    width: 230px;
    height: 260px;

    top: 50%; left: 50%;
    margin: -125px 0 0 -100px;

    text-align: center;

    border: 3px solid #fff;
    border-radius: 15px;

    background-color: #E36B23;
    box-shadow: 2px 10px 5px #888;

    display: none;

    overflow: auto;
}

#logout {
    display: none;
}

#search {
    display: none;
}

#contacts {
    display: none;
}